<div id="<%= dom_id summit %>">
  <p>
    <strong>Mountain:</strong>
    <%= summit.mountain.name %>
  </p>
  <% if summit.insta.present? %>
  <p>
    <%= link_to summit.insta, summit.insta, target: "_blank" %>
  </p>
    <%= render partial: 'instagram_embed', locals: { url: summit.insta } %>
  <% end %>
</div>
